<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mi Recetario Web</title>

    <link href="/Bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="/Bootstrap/css/custom.css" rel="stylesheet"> -->

  </head>
  <body>

    <% include navbar %>

    <% if (typeof error !== 'undefined') { %>
      <div class="col-md-offset-3 col-md-6">
          <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <%= error %>
              </strong>
          </div>
      </div>
    <% } %>

    <% if (typeof success !== 'undefined') { %>
      <div class="col-md-offset-3 col-md-6">
          <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <%= success %>
              </strong>
          </div>
      </div>
    <% } %>

    <% if (typeof recipes !== 'undefined') { %>
      <% for(var i = 0; i < recipes.length; i++) { %>
        <% var dir =  "/recipe/update/" + recipes[i]._id %>
        <div class="container col-md-3">
          <a href="" data-target=<%= "#" + recipes[i].name %> data-toggle="modal">
            <div class="panel panel-default">
              <div class="panel-body">
                <% if (recipes[i].link) { %>
                  <img src=<%= recipes[i].link %> height="242px" width="260px">
                <% } else { %>
                  <img src="https://img.clipartfest.com/688d237cb6eb19798e08b3e4d78fb0c5_follow-us-food-clipart-transparent_298-231.png" height="242px" width="260px">
                <% } %>
                <h4><%= recipes[i].name %></h4>
              </div>
            </div>
          </a>
        </div>

        <div class="modal fade" id=<%= recipes[i].name %>>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= recipes[i].name %></h4>
              </div>
              <div class="modal-body">
                <h5> Ingredientes: </h5>
                <ul style="list-style-type:square">
                  <% for(var j = 0; j < recipes[i].ingredients.length; j++) { %>
                    <li><%= recipes[i].ingredients[j] %></li>
                  <% } %>
                </ul>
                <h5> Pasos para preparar: </h5>
                <ol>
                  <% for(var j = 0; j < recipes[i].steps.length; j++) { %>
                    <li><%= recipes[i].steps[j] %></li>
                  <% } %>
                </ol>
              </div>
              <div class="modal-footer">
                <a href=<%= dir %> class="btn btn-primary"> Modificar Receta </a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>

    <script src="/Bootstrap/js/jquery.min.js"></script>
    <script src="/Bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
